<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.GetListAuctionsByUserTest"/>
      <class name="tests.EditAccountTest"/>
      <class name="tests.LogOutTest"/>
      <class name="tests.EditAuctionsTest"/>
      <class name="tests.GetListAuctionsByTypeTest"/>
      <class name="tests.GetListAuctionsByStatusTest"/>
      <class name="tests.LoginTest"/>
      <class name="tests.chiuchiu"/>
      <class name="tests.CreateCommentTest"/>
      <class name="tests.GetListAuctionsTest"/>
      <class name="tests.GetDetailsAuctionsTest"/>
      <class name="tests.Examples"/>
      <class name="tests.SignUpTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
